absl-py==2.1.0
alembic==1.13.1
antlr4-python3-runtime==4.9.3
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
-e git+https://github.com/ParamB11/baselines_partial_tf2.git@613d56f630d29316c2f0562c435be5383fb196b0#egg=baselines
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
box2d-py==2.3.5
brax==0.9.2
bs4==0.0.2
cachetools==5.3.3
-e git+https://github.com/automl/CARL.git@b96661be3a2d10bf77969f2bdca6d05b84d54673#egg=carl_bench
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chex==0.1.86
click==8.1.7
cloudpickle==3.0.0
colorlog==6.8.2
comm==0.2.2
ConfigArgParse==1.7
ConfigSpace==0.7.1
contextlib2==21.6.0
contourpy==1.2.1
cycler==0.12.1
dartpy==0.1.0.post106
dataclasses==0.6
DataProperty==1.0.1
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
dm-env==1.6
dm-reverb==0.11.0
dm-tree==0.1.8
et-xmlfile==1.1.0
etils==1.5.2
exceptiongroup==1.2.1
executing==2.0.1
Farama-Notifications==0.0.4
fastjsonschema==2.19.1
filelock==3.13.4
Flask==3.0.2
Flask-Cors==4.0.0
flatbuffers==24.3.25
flax==0.8.2
fonttools==4.50.0
fqdn==1.5.1
fsspec==2024.3.1
future==1.0.0
gast==0.4.0
gin-config==0.5.0
glfw==2.7.0
google-auth==2.29.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.63.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.22.2
huggingface-sb3==3.0
idna==3.7
imageio==2.34.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
ipykernel==6.29.4
ipython==8.18.1
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.4.26
jax-cuda12-pjrt==0.4.27
jax-cuda12-plugin==0.4.27
jaxlib==0.4.26
jaxopt==0.8.3
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
json5==0.9.25
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
keras==2.12.0
kiwisolver==1.4.5
libclang==18.1.1
Mako==1.3.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mbstrdecoder==1.1.3
mdurl==0.1.2
mistune==3.0.2
ml-collections==0.1.1
ml-dtypes==0.4.0
more-itertools==10.2.0
mpi4py @ file:///croot/mpi4py_1671223370575/work
mpmath==1.3.0
msgpack==1.0.8
mujoco==2.3.7
mujoco-mjx==3.1.3
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
notebook==7.0.6
notebook_shim==0.2.4
numpy==1.23.5
numpyencoder==0.3.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvcc-cu12==12.5.40
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.9.0.80
openpyxl==3.1.5
opt-einsum==3.3.0
optax==0.2.2
optuna==3.6.1
orbax-checkpoint==0.5.9
overrides==7.7.0
packaging==24.0
pandas==2.2.1
pandocfilters==1.5.1
parso==0.8.4
pathvalidate==3.2.0
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.2.1
-e git+https://github.com/ParamB11/policy_transfer_partial_tf2.git@a8db036d9bd25f860c0c7f3ff8438498f94f27c5#egg=policy_transfer
portpicker==1.6.0
POT==0.9.5
progressbar2==4.4.2
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pygame==2.1.3
pyglet==1.5.0
Pygments==2.17.2
PyOpenGL==3.1.7
pyparsing==3.1.2
pytablewriter==1.2.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-utils==3.8.2
pytinyrenderer==0.0.14
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.2
referencing==0.35.0
requests==2.31.0
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rl-zoo3==2.2.1
rpds-py==0.18.0
rsa==4.9
sb3-contrib==2.2.1
scikit-learn==1.4.0
scipy==1.13.0
Send2Trash==1.8.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.29
stable-baselines3==2.2.1
stack-data==0.6.3
swig==4.2.1
sympy==1.12
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.4
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.37.0
tensorflow-probability==0.19.0
tensorstore==0.1.56
termcolor==2.4.0
terminado==0.18.1
tf-agents==0.16.0
thop==0.1.1.post2209072238
threadpoolctl==3.4.0
tinycss2==1.3.0
tomli==2.0.1
toolz==0.12.1
torch==2.2.2
torcheval==0.0.7
torchsummary==1.5.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
trimesh==4.2.4
triton==2.2.0
typepy==1.3.2
types-python-dateutil==2.9.0.20240316
typing_extensions==4.10.0
tzdata==2024.1
uri-template==1.3.0
urllib3==2.2.1
wasabi==1.1.2
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.2
wrapt==1.14.1
xvfbwrapper==0.2.9
zipp==3.18.1
